#appContainer {
  width: 100%;
}

/* Make this only for large screens and find a way to handle small screens differently. */
#mainContent {
  width: 80%;
  margin: 0 auto;
  min-height: 60vh;
  padding: 10px;
}
