#appContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-image: url('.\images\moonlight-bg.jpg');
  background-size: cover;
  height: 100vh;
}

/* Make this only for large screens and find a way to handle small screens differently. */
@media(min-width: 800px) {
  #mainContent {
    width: 80%;
    margin: 100px auto;
  }
}

@media(max-width: 799px) {
  #mainContent {
    width: 80%;
    margin: 100px auto;
    margin-top: 200px;
  }
}

.link-button {
  background-color: transparent;
  border: none;
}

.link-button:hover,
.link-button:focus {
text-decoration: none;
}

.navbar {
  width: 60%;
  min-width: 500px;
  margin: 0 auto;
  border-radius: 2px;
}

body {
  background-color: #150b14;
}

h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 72px;
}

h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 32px;
}

h3 {
  font-family: 'Merriweather', serif;
  font-size: 24px;
  padding: 0;
  margin: 0;
}

p {
  font-family: 'Playfair Display', serif;
  font-size: 14px;
}

ul {
  padding-left: 15px;
  list-style: circle;
}