#appContainer {
  width: 100%;
}

/* Make this only for large screens and find a way to handle small screens differently. */
#mainContent {
  width: 80%;
  margin: 0 auto;
  padding: 5vh 1vw 10vh 1vw;
}

.link-button {
  background-color: transparent;
  border: none;
}

.link-button:hover,
.link-button:focus {
text-decoration: none;
}
