.mastheadSection {
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url("images/moonlight-bg.jpg");
  height: 40vh;
  width: 100%;
  color: white;
}

.nameHeading {
  margin: 0 auto;
  text-align: center;
  padding-top: 15vh;
}
