.footerDiv {
  opacity: .7;
  border-radius: 5px;
  margin: 0 auto;
  background-color: #343a40;
  width: 60%;
  min-width: 500px;
  height: 50px;
}

.footerCopy {
  text-align: left;
  color: white;
  height: 26px;
  padding: 12px;
  margin: 0;
}