.galleryImage {
    padding: 2px;
    border: solid 1px black;
    border-radius: 1px;
    width: 80%;
}

.opaqueBg {
    /* Fallback for web browsers that doesn't support RGBa */
    background: rgb(229, 229, 229);
    /* RGBa with 0.6 opacity */
    background: rgba(229, 229, 229, 0.6);
    border-radius: 5px;
    padding: 10px;
}