.photoHeader {
    border-radius: 5px;
    margin: 0 auto;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url("images/marchingmen.jpg");
    height: 40vh;
    width: 80%;
    color: white;
}