.resumePortrait {
    width: 100%;
    max-width: 240px;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    margin-left: 10px;
}

.contactInfo {
    margin-left: 10px;
    text-align: center;
}

.contactInfo > a > p {
    margin-bottom: 0;
}